@import url('./reset.css');

body{
  margin: 0px;
  padding: 0px;
  outline: 0px;
  height: 100%;
  width: 100%;

}

html
{
  --var-text-color : #121212;
  --var-font-family-print : "FakeReceipt-Regular",monospace;

}

.App
{
  height: 100vh;
  width: 100%;
  background-image: url('../Images/bg3.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

